@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat';
    line-height: 143%;
}

main {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0;
}

.light-bg {
    color: #2E363E;
}

.light-bg-section {
    color: #2E363E;
}

.dark-bg {
    color: #FFF;
}

.dark-bg-section {
    color: #FFF;
    background-color: #081130;
}

#header {
    height: 165vh;
}

#header, #footer {
    position: relative;
}

.randomPosition_Image-section {
    position: relative;
    width: 100%;
    z-index: 0;
}

.randomPosition_Image {
    position: absolute;
    height: 100px;
    width: 100px;
    z-index: 1;
}

button {
    font-weight: 500;
    background: #FED84C;
    border: 0;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}

button:hover {
    background: #DB3636;
    color: #ffffff;
    transition: 0.3s;   
}

.CloudImg {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-repeat: no-repeat;
}

.upCloud_img {
    margin-top: -0.2em;
    top: 0;
}

.downCloud_img {
    bottom: 0px;
}