@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.light-bg {
    color: #2E363E;
}

.dark-bg {
    color: #FFF;
}

* {
    font-family: 'Montserrat';
}

#header {
    height: 165vh;
}

#header, #footer {
    position: relative;
}

.randomPosition_Image-section {
    position: relative;
    width: 100%;
}

.randomPosition_Image {
    position: absolute;
    height: 100px;
    width: 100px;
    z-index: 0;
}

button {
    font-weight: 500;
    background: #FED84C;
    border: 0;
    border-radius: 8px;
    font-size: 18px;
    cursor:pointer;
    outline: none;
    transition: 0.3s;
}

button:hover {
    background: #DB3636;
    color: #ffffff;
    transition: 0.3s;   
}
