html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

header {
    padding-bottom: 1px;
    width: 100%;
    background-image: url("../img/header/header_bg.svg");
    background-size: cover;
    background-position: center;
}

nav {
    width: 100%;
    height: 12vh;
    border-bottom: 1px solid #7e868e1d;
}

.nav-wrap {
    width: 90%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    align-items: center;
}

.nav-wrap img {
    height: 100%;
}

.nav-right-side {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.location {
    display: grid;
    grid-template-columns: 0.28fr 1.3fr;
}

.nav-right-side .location-span {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #e8e8e8cb;
}

.nav-info {
    display: grid;
    grid-template-columns: 0.3fr 1.3fr;
    align-items: center;
}

.nav-info img {
    margin-top: 20px;
}

.nav-right-side .workSchedule-span {
    margin-top: -30px;
    color: #e8e8e8cb;
}

.info {
    width: 50%;
    
    margin-top: 2.4em;
    margin-left: 4em;
}

.overtitle {
    padding: 10px 18px;
    background: #F2F6FA;
    border-radius: 5px;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

h2 {
    font-family: 'Montserrat';
    font-size: 48px;
}

.subtext {
    font-size: 24px;
}

.go-to-catalog {
    margin-top: 1.2em;
    display: grid;
    grid-template-columns: auto 1fr;
}

.big-button {
    padding: 30px 50px;
}

.go-to-catalog .speciesCount {
    margin: auto 1.2em;
    line-height: 1.6em;
    width: 30%;
    font-size: 16px;
}

section {
    position: relative;
    width: 100%;
    overflow: hidden;
}

section h3 {
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -1px;
    margin-top: -0.2em;
}

#section2_phone {
    margin-top: -0.2em;
    padding-top: 28em;
    height: 210vh;
}

.section2_up_img {
    background-image: url("../img/section2_phone/phone_up_cloud.svg");
}

.phone-and-text {
    display: flex;
}

.phone-img {
    position: relative;
    width: 60%;
    margin-top: -6em;
    margin-left: -16em;
}

.phone-text {
    margin-left: 4em;
}

.phone-text .overtitle {
    padding: 16px;
}

.phone-text button {
    position: relative;
    z-index: 2;
    margin-top: 2em;
}

.section2_down_img {
    bottom: -130vh;
    background-image: url("../img/section2_phone/phone_down_cloud.svg");
    z-index: 1;
}

#section3_employee {
    padding-top: 1.2em;
}

.employee-and-text {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.employee-text .overtitle {
    padding: 12px 18px;
}

.employee-text h2 {
    width: 90%;
}

.about-employee {
    margin-right: -0.8em;
    z-index: 1;
}

ul {width: 80%;}

li {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    margin-left: -0.8em;
    margin-bottom: 3.2em;
    color: #5D6AFB;
}

.ul-text {
    color:#2E363E;
}

.employee-name_bg { 
    position: absolute; 
}

span.dark-bg {
    background-color: #2E363E;
    padding: 15px 24px;
    transform: skew(-5deg);
    border-radius: 6px;
    z-index: 3;
    bottom: 12em;
    right: 29em;
}

span.dark-bg::after {
    content: 'Юлія Кондратьова';
    font-weight: 500;
    font-size: 24px;
}

.about-employee span.light-bg {
    background-color: #F2F6FA;
    padding: 15px 24px;
    transform: skew(-5deg);
    border-radius: 6px;
    bottom: 8.6em;
    right: 31em;
}

.about-employee span.light-bg::after {
    content: 'Ваш кондитер';
    font-size: 18px;
    color: #2E363E;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}