body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

header {
    width: 100vw;
    height: 165vh;
    background-image: url("../img/header/header_bg.svg");
    background-size: cover;
    background-position: center;
}

nav {
    width: 100%;
    height: 12vh;
    border-bottom: 1px solid #7e868e1d;
}

.nav-wrap {
    width: 90%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    align-items: center;
}

.nav-wrap img {
    height: 100%;
}

.nav-right-side {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.location {
    display: grid;
    grid-template-columns: 0.28fr 1.3fr;
}

.nav-right-side .location-span {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #e8e8e8cb;
}

.nav-info {
    display: grid;
    grid-template-columns: 0.3fr 1.3fr;
    align-items: center;
}

.nav-info img {
    margin-top: 20px;
}

.nav-right-side .workSchedule-span {
    margin-top: -30px;
    color: #e8e8e8cb;
}

.info {
    width: 50%;
    
    margin-top: 2.4em;
    margin-left: 4em;
}

.overtitle {
    padding: 10px 18px;
    background: #F2F6FA;
    border-radius: 5px;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.info h2 {
    font-family: 'Montserrat';
    font-size: 48px;
}

.subtext {
    font-size: 24px;
}

.go-to-catalog {
    margin-top: 1.2em;
    display: grid;
    grid-template-columns: auto 1fr;
}

.go-to-catalog button {
    padding: 30px 50px;
}

.go-to-catalog .speciesCount {
    margin: auto 1.2em;
    line-height: 1.6em;
    width: 30%;
    font-size: 16px;
}

section {
    width: 100vw;
}

section h3 {
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -1px;
    margin-top: -0.2em;
}

#section2_phone {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr, 1fr;
}

.section2_up_img {
    background-image: url("../img/section2_phone/phone_up_cloud.svg");
}

.section2_down_img {
    background-image: url("../img/section2_phone/phone_down_cloud.svg");
}